* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.grid-container {
  display: grid;
  /* grid-template-columns: 200px 200px 200px; */
  grid-auto-columns: 200px;
  grid-auto-rows: 300px;
  gap: 10px;

  grid-template-areas:
    "item-1 item-1 item-2 item-3"
    "item-4 item-5 item-6 item-6";
}

.box {
  background: purple;
  color: white;
  padding: 24px;
}

/*Grid Basics*/
.grid-container {
  height: 800px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px;
  /* grid-auto-rows: 200px; */
  /* grid-auto-columns: 200px; */
  /* grid-auto-flow: column; */

  /* justify-items: center;
  align-items: center; */

  place-items: center;

  /* justify-content: center;
  align-content: center; */

  place-content: center;
}

.item {
  width: 65px;
  height: 65px;

  padding: 24px;
  background-color: purple;
  color: white;
  text-align: center;
}
