* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* 
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-block: 2.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, min(100px, 400px));
  margin-block: 2.5rem;
  gap: 1rem;
} */

/* .box-1 {
  background-color: black;
  width: 100px;
  height: 100px;
  border: 3.5px solid red;
} */

/* @media print and (orientation: Landscape) and (max-width: 320px) {
  .grid-container {
    grid-template-columns: repeat(2, min(100px, 400px));
  }
}

@media screen and (min-width: 390px) {
  .grid-container {
    grid-template-columns: repeat(4, min(100px, 400px));
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(6, min(100px, 400px));
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(7, min(100px, 400px));
  }
} */
